.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.js.map
**/*.ts
**/.vscode-test.*

webpack.config.js
vsc-extension-quickstart.md
codeStandard.md

.gitignore
.yarnrc